version: '3'
services:
  web:
    build: .
    # env_file:
    #   - "./celery_docker_proj/.env"
    command: python manage.py runserver 0.0.0.0:8000
    # command: gunicorn celery_docker_proj.wsgi --bind 0.0.0.0:8000
    volumes: 
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis

  celery:
    build: .
    command: celery -A celery_docker_proj worker -B -l info
    volumes:
      - .:/code
    depends_on:
      - redis

  # celery-beat:
  #   build: .
  #   command: celery -A celery_docker_proj beat -l info
  #   volumes:
  #     - .:/code
  #   depends_on:
  #     - redis
